@leveloneproject:registry=https://modusbox.jfrog.io/modusbox/api/npm/level1-npm/
//modusbox.jfrog.io/modusbox/api/npm/level1-npm/:_password=QVA2dlIzTEdyQjZ6bThXUWpMdkpIblF6akpw
//modusbox.jfrog.io/modusbox/api/npm/level1-npm/:username=dwolla
//modusbox.jfrog.io/modusbox/api/npm/level1-npm/:email=nickl@dwolla.com
//modusbox.jfrog.io/modusbox/api/npm/level1-npm/:always-auth=true
